name: Flox Installer Smoke Test

run-name: ${{ github.actor }} is testing Flox install.sh

on: [push]

jobs:
  install:
    name: Install on ${{ matrix.name }}
    strategy:
      matrix:
        include:
          - name: ubuntu
            runs_on: ubuntu-latest
            type: deb
          - name: ubuntu-arm64
            runs_on: ubuntu-24.04-arm
            type: deb
          - name: macos
            runs_on: macos-latest
            type: darwin
          - name: macos-arm64
            runs_on: macos-latest
            type: darwin
            arch: aarch64
          - name: fedora
            runs_on: ubuntu-latest
            type: rpm
            
    runs-on: ${{ matrix.runs_on }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Run install.sh (stable) on Debian/macOS
        if: matrix.type != 'rpm'
        run: |
          bash install.sh

      - name: Run install.sh (RPM path inside Fedora container)
        if: matrix.type == 'rpm'
        run: |
          docker run --rm -v "${{ github.workspace }}":/workspace -w /workspace registry.fedoraproject.org/fedora:latest \
            /bin/bash -eux -c "dnf -y install curl && bash install.sh && flox --version"

      - name: Verify flox is available (host)
        if: matrix.type != 'rpm'
        run: |
          command -v flox
          flox --version

  nix:
    name: Nix smoke (flake)
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Show flake (in NixOS container)
        run: |
          docker run --rm -v "${{ github.workspace }}":/workspace -w /workspace nixos/nix:latest \
            /bin/sh -eux -c "nix --extra-experimental-features 'nix-command flakes' flake show"

      - name: Run devShell and lint (in NixOS container)
        run: |
          docker run --rm -v "${{ github.workspace }}":/workspace -w /workspace nixos/nix:latest \
            /bin/sh -eux -c "nix --extra-experimental-features 'nix-command flakes' develop .#devShells.x86_64-linux --command shellcheck install.sh"
