name: Install Script Smoke Test

run-name: ${{ github.actor }} is testing Flox install.sh

on: [push]

jobs:
  install:
    name: Install on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Run install.sh (stable)
        run: |
          bash install.sh

      - name: Verify flox is available
        run: |
          command -v flox
          flox --version
